In [1]:
from efficient_apriori import apriori

In [2]:
import pandas as pd

In [3]:
items = 'coke milk diaper chocolate butter bread'.split()

In [4]:
import random

In [5]:
data = [random.sample(items, random.randint(1, len(items))) for _ in range(10)]

In [6]:
data

[['coke', 'diaper'],
 ['chocolate', 'butter', 'milk', 'bread', 'coke'],
 ['chocolate'],
 ['chocolate', 'milk', 'butter'],
 ['diaper', 'coke', 'chocolate', 'milk', 'bread'],
 ['diaper', 'butter', 'coke', 'milk', 'bread', 'chocolate'],
 ['coke', 'diaper', 'milk', 'chocolate'],
 ['diaper', 'butter'],
 ['coke', 'diaper', 'chocolate', 'butter'],
 ['diaper']]

In [7]:
itemset, rules = apriori(data, min_confidence=.75, min_support=.5)

In [8]:
itemset

{1: {('coke',): 6,
  ('diaper',): 7,
  ('chocolate',): 7,
  ('butter',): 5,
  ('milk',): 5},
 2: {('chocolate', 'coke'): 5,
  ('chocolate', 'milk'): 5,
  ('coke', 'diaper'): 5}}

In [9]:
rules

[{coke} -> {chocolate}, {milk} -> {chocolate}, {coke} -> {diaper}]

In [10]:
itemset, rules = apriori(data, min_confidence=.6, min_support=.6)

In [38]:
itemset

{1: {('chocolate',): 4,
  ('coke',): 5,
  ('diaper',): 6,
  ('butter',): 6,
  ('milk',): 6},
 2: {('butter', 'chocolate'): 4,
  ('butter', 'coke'): 4,
  ('butter', 'diaper'): 5,
  ('butter', 'milk'): 5,
  ('coke', 'diaper'): 4,
  ('coke', 'milk'): 4,
  ('diaper', 'milk'): 4},
 3: {('butter', 'coke', 'diaper'): 4,
  ('butter', 'coke', 'milk'): 4,
  ('butter', 'diaper', 'milk'): 4,
  ('coke', 'diaper', 'milk'): 4},
 4: {('butter', 'coke', 'diaper', 'milk'): 4}}

In [11]:
rules

[]

# Real Grocery Dataset

In [20]:
df = pd.read_csv('D:/DM/datasets/groceriesDataset.csv')

In [21]:
df.head()

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
def retlist(entry):
    lis = []
    i=entry['Item(s)']
    for j in range(i):
        lis.append(entry['Item {}'.format(j+1)])
    return lis

In [27]:
df.apply(retlist, axis=1)

0       [citrus fruit, semi-finished bread, margarine,...
1                        [tropical fruit, yogurt, coffee]
2                                            [whole milk]
3         [pip fruit, yogurt, cream cheese, meat spreads]
4       [other vegetables, whole milk, condensed milk,...
                              ...
9830    [sausage, chicken, beef, hamburger meat, citru...
9831                                  [cooking chocolate]
9832    [chicken, citrus fruit, other vegetables, butt...
9833    [semi-finished bread, bottled water, soda, bot...
9834    [chicken, tropical fruit, other vegetables, vi...
Length: 9835, dtype: object

In [38]:
inpt = list(df.apply(retlist, axis=1))

In [40]:
itemlist, rules = apriori(inpt, min_confidence=.06, min_support=.06)

In [41]:
itemlist

{1: {('citrus fruit',): 814,
  ('tropical fruit',): 1032,
  ('yogurt',): 1372,
  ('whole milk',): 2513,
  ('pip fruit',): 744,
  ('other vegetables',): 1903,
  ('rolls/buns',): 1809,
  ('bottled beer',): 792,
  ('bottled water',): 1087,
  ('soda',): 1715,
  ('fruit/vegetable juice',): 711,
  ('newspapers',): 785,
  ('pastry',): 875,
  ('root vegetables',): 1072,
  ('canned beer',): 764,
  ('sausage',): 924,
  ('brown bread',): 638,
  ('shopping bags',): 969,
  ('whipped/sour cream',): 705,
  ('domestic eggs',): 624},
 2: {('other vegetables', 'whole milk'): 736}}

In [42]:
rules

[{whole milk} -> {other vegetables}, {other vegetables} -> {whole milk}]

# Bakery Dataset

In [61]:
file = open('D:/DM/datasets/bakery.csv','r')

In [62]:
s = file.read()

In [70]:
file.close()

In [82]:
r = pd.Series(s.split('\n'))

In [83]:
r

0                           1, 11, 21
1                    2, 7, 11, 37, 45
2                        3, 3, 33, 42
3                    4, 5, 12, 17, 47
4                        5, 6, 18, 42
                     ...
74996           74997, 12, 25, 35, 47
74997            74998, 7, 12, 15, 49
74998                   74999, 33, 42
74999    75000, 3, 18, 21, 25, 35, 44
75000
Length: 75001, dtype: object

In [72]:
r.iloc[0]

'1, 11, 21'

In [75]:
r.drop(len(r)-1, inplace=True)

In [76]:
r[90]

'91, 7, 16, 32, 45'

In [77]:
r[90][r[90].index(', ')+2:]

'7, 16, 32, 45'

In [78]:
r[0].index(', ')

1

In [79]:
r = r[:-1]

In [80]:
re = r.apply(lambda x: x[x.index(', ')+2:])

In [81]:
re

0                11, 21
1         7, 11, 37, 45
2             3, 33, 42
3         5, 12, 17, 47
4             6, 18, 42
              ...
74994        19, 22, 33
74995      4, 9, 13, 40
74996    12, 25, 35, 47
74997     7, 12, 15, 49
74998            33, 42
Length: 74999, dtype: object

In [84]:
fname = ["Chocolate Cake","Lemon Cake","Casino Cake","Opera Cake", "Strawberry Cake", "Truffle Cake", "Chocolate Eclair", "Coffee Eclair", "Vanilla Eclair", "Napolean Cake", "Almond Tart", "Apple Pie", "Apple Tart","Apricot Tart", "Berry Tart", "Blackberry Tart", "Blueberry Tart", "Chocolate Tart", "Cherry Tart", "Lemon Tart", "Pecan Tart", "Ganache Cookie", "Gongolais Cookie", "Raspberry Cookie", "Lemon Cookie", "Chocolate Meringue", "Vanilla Meringue", "Marzipan Cookie", "Tuile Cookie", "Walnut Cookie", "Almond Croissant", "Apple Croissant", "Apricot Croissant", "Cheese Croissant", "Chocolate Croissant", "Apricot Danish", "Apple Danish", "Almond Twist", "Almond Bear_Claw", "Blueberry Danish", "Lemon Lemonade", "Raspberry Lemonade", "Orange Juice", "Green Tea", "Bottled Water", "Hot Coffee", "Chocolate Coffee", "Vanilla Frappucino", "Cherry Soda", "Single Espresso"]

In [85]:
range(len(fname))

range(0, 50)

In [88]:
re = re.apply(lambda x: x.split(', '))

AttributeError: 'list' object has no attribute 'split'

In [ ]:
ree = re.apply(lambda x: list(pd.Series(x).replace(list(pd.Series(range(50)).astype(str)), fname)))